<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
    </div>
</nav>
<div class="container center text-center">
    <div class="container inner_container">
        <div class="row text-center">
            <div class="page-header">
                <h1>Weathery</h1>
            </div>
            <form>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input class="form-control" type="text" name='city' placeholder="Enter city" [(ngModel)]="city"/>
                </div>
                <button type="button" class="btn btn-primary btn-block" (click)="search()"><span class="glyphicon glyphicon-search"></span>
                    Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container text-center" *ngIf="this.climate != ''">
  <h1>{{this.city |  uppercase}}</h1>
  <p>{{this.climate}}:{{this.description}}</p>
  <img class="climate-image" [src]="this.image_url"/>

</div>
