@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
    font-family: 'Open Sans', sans-serif;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}
.center{
    max-width: 35%;
    max-height: 50%;
    margin: auto;
    margin-top: 1%;
}

.inner_container{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.text{
    color: white;
}
.climate-image{
  min-height: 30px;
  min-width: 100px;
}
agm-map {
      height: 500px;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 0 !important;
    }
